* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 100.01%;
}

body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	background: #e4ebe4;
	color: #3a4c53;
}

.clear {
	clear: both;
}

table,td,div,img {
	border: 0;
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

ul {
	list-style: none;
}

p {
	padding: 0px 0px 18px 0px;
}

a {
	text-decoration: underline;
	color: #5c959d;
	outline: none;
}

a:hover {
	text-decoration: none;
}



#btn_limpar{
	padding:3.5px;
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_60_4ca20b_1x100.png") repeat-x scroll 50% 50% #4CA20B;
	border:1px solid #45930B;
	color:#FFFFFF;
	font-weight:normal;
}

#btn_limpar:hover{
	text-decoration: none;
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
	border:1px solid #8BD83B;
	color:#FFFFFF;
	font-weight:normal;
	padding:3.5px;
}

input.text,select,textarea {
	border:1px solid #bababa;
	color:#535353;
	padding: 2px 0px 3px 6px;	
	
}

input:focus{
	background:#E6E3E6;
	background-color:#E6E3E6;
	border:1px solid #bababa;
	color:#0061A5;
}
input:hover{
	background:#E6E3E6;
	background-color:#E6E3E6;
	border:1px solid #bababa;
	color:#0061A5;
}
select:hover{
	background:#E6E3E6;
	background-color:#E6E3E6;
	border:1px solid #bababa;
	color:#0061A5;
}
select:focus{
	background:#E6E3E6;
	background-color:#E6E3E6;
	border:1px solid #bababa;
	color:#0061A5;
}

textarea:hover{
	background:#E6E3E6;
	background-color:#E6E3E6;
	border:1px solid #7BA2BD;
	color:#0061A5;
}
textarea:focus{
	background:#E6E3E6;
	background-color:#E6E3E6;
	border:1px solid #7BA2BD;
	color:#0061A5;
} 

/*** Main ***/
.main {
	/*width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 980)? "960px" : "100%"); min-width:980px;*/
	
}

/*
	.tail-right {
		float:right;
	 	position:absolute;top:0; right:0;
		width:50%; height:252px;
		background:url(/CuidadoAnimal/images/tail-right.gif) repeat-x 0 0;}
	*/
.main {
	background: url(/CuidadoAnimal/images/tail2.png) repeat-x 0 0 #e4ebe4;
}

.main-width {
	width: 980px;
	margin: 0 auto;
	
}

.header {
	height: 99px;
}

/*** Menu ***/
.menu {
	clear: both;
	float: left;
	padding:15px 0 0 48px;
}

.menu ul {
	list-style: none;
	overflow: hidden;
	
}

.menu ul li {
	overflow: hidden;
	height: 100%;
	float: left;
	
	/*padding: 1px 36px 1px 38px;*/
}

.menu ul li a {
	font-size: 1.3em;
	font-weight: bold;
	color: #1c252f;
	text-decoration: none;
}

.menu ul li a:hover {
	text-decoration: underline;
}

.menu ul li.current_page_item a {
	text-decoration: underline;
}

/*** Logo ***/
.logo {
	float: left;
	height: 346px;
	overflow: hidden;
}

.column-center .logo .indent {
	padding: 65px 0px 0px 155px;
	overflow: hidden;
	border: 0;
	background: none;
	margin: 0;
}

.logo h1 { /* float:left;*/
	width: 249px;
	height: 112px;
	font-size: 2.1em;
	display: block;
	color: #000;
	overflow: hidden;
	text-indent: -1000em;
	cursor: pointer;
}

.logo h1:hover {
	text-decoration: none;
}

/*** Slogan ***/
.slogan {
	clear: both;
	overflow: hidden;
	height: 93px;
}

.slogan .indent {
	padding: 46px 0px 0px 25px;
}

.slogan h2 {
	font-size: 1.4em;
	color: #b5c8c4;
	font-weight: normal;
	line-height: 16px;
}

/*** Search ***/
.search {
	height: 93px;
}

.search .indent {
	overflow: hidden;
	padding: 44px 0px 0px 8px;
}

.search form {
	padding: 0px 0px 2px 0px;
	background: url(/CuidadoAnimal/images/search-bgr.gif) no-repeat 0 0;
}

.search .text {
	width: 137px;
	border: 0;
	background: transparent;
	padding: 1px 0px 1px 5px;
	margin: 0px 8px 0px 0px;
}

.search .but {
	cursor: pointer;
}

/*** Rss ***/
.rss {
	padding: 15px 0px 0px 34px;
}

/*** Column ***/
.content {
	clear: both;
	overflow: hidden;
	height: 100%;
	padding: 0px 12px 10px 10px;
}

/******/
.column-left {
	float: left;
	width: 240px;
	margin: 0px 0px 0px 0px;
	_margin: 0px -3px 0px 0px;
}

.column-right {
	float: right;
	width: 230px;
	margin: 0px 0px 0px 8px;
	_margin: 0px 0px 0px 5px;
}

/*** Widgets  ***/
.widget {
	clear: both;
	width: 230px;
	/*overflow:hidden; height:100%;*/
	margin: 0px 0px 7px 0px;
}

.widget .border-top {
	background: url(/CuidadoAnimal/images/widget-top.png) no-repeat 0 0;
	/*overflow:hidden;*/ /*height:100%;*/
}

.widget .border-bot {
	background: url(/CuidadoAnimal/images/widget-bot.png) no-repeat 0 bottom;
	/*overflow:hidden;*/ /* height:100%;*/
	padding: 21px 0px 21px 0px; *
	padding: 20px 0;
}

.widget-bgr { /*overflow:hidden; height:100%;*/
	background: url(/CuidadoAnimal/images/widget-bgr.png) repeat-y 0 0;
	padding: 0px 20px 13px 20px;
}

.widget .title { /*overflow:hidden; height:100%;*/
	margin: 0px 0px 0px 0px;
}

.widget h2 {
	overflow: hidden;
	height: 100%;
	font-size: 1.4em; /*font-weight: normal;*/
	color: #fff;
	line-height: 1.3em;
	background: url(/CuidadoAnimal/images/widget-img02.gif) no-repeat 0 0;
	padding: 5px 10px 20px 30px;
	margin: 0px 0px 0px 0px;
}

.widget ul {
	clear: both; /*overflow:hidden; height:100%;*/
	font-size: 1.2em;
	color: #fff;
	line-height: 1.3em;
	margin: 0px 0px 0px 23px;
}

.widget ul li {
	overflow: hidden;
	height: 100%;
	background: url(/CuidadoAnimal/images/widget-marker.gif) no-repeat 0px 7px;
	padding: 3px 0px 8px 12px;
}

.widget ul li a {
	color: #fff;
	font-weight: bold; /*text-decoration:none;*/
}

/*.widget ul li a:hover { text-decoration: underline;}*/
.widget ul ul {
	font-size: 100%;
	margin: 0px 0px 0px 0px;
}

.widget ul ul li {
	border: 0;
}

/*** widget_tag_cloud ***/
.widget_tag_cloud a {
	color: #212121;
	font-size: 1.1em;
}

/*** widget_text ***/
.textwidget {
	color: #212121;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 0px 20px 40px 20px;
}

.textwidget a {
	color: #212121;
}

/*** widget_categories ***/
.widget_categories .widget-bgr {
	padding: 0px 20px 11px 20px;
}

.widget_categories .border-top {
	background: url(/CuidadoAnimal/images/widget-top-fix01.png) no-repeat 0 0;
}

.widget_categories .border-bot {
	background: url(/CuidadoAnimal/images/widget-bot-fix01.png) no-repeat 0 bottom;
	padding: 61px 0px 21px 0px;
	_padding-bottom: 20px;
}

.widget_categories .widget-bgr {
	background: url(/CuidadoAnimal/images/widget-bgr-fix01.png) repeat-y 0 0;
}

.widget_categories h2 {
	background: url(/CuidadoAnimal/images/widget-img01.gif) no-repeat 0 0;
	padding: 3px 10px 20px 30px;
}

.widget_categories ul {
	font-size: 1.3em;
	margin: 0px 0px 0px 35px;
}

.widget_categories ul li {
	padding: 3px 0px 9px 15px;
}

.widget_categories ul li a {
	color: #b7d6f8;
	font-weight: normal;
	text-decoration: none;
}

.widget_categories ul li a:hover {
	text-decoration: underline;
}

/*** widget_meta ***/
.widget_meta {
	margin: 0px 0px 8px 0px;
}

.widget_meta .border-top {
	background: url(/CuidadoAnimal/images/widget-top-fix02.png) no-repeat 0 0;
}

.widget_meta .border-bot {
	background: url(/CuidadoAnimal/images/widget-bot-fix02.png) no-repeat 0 bottom;
	padding: 61px 0px 21px 0px;
}

.widget_meta .widget-bgr {
	background: url(/CuidadoAnimal/images/widget-bgr-fix02.png) repeat-y 0 0;
	overflow: hidden;
	height: 100%;
	padding: 0px 20px 35px 20px; *
	margin: 0px 0px -1px 0px;
}

.widget_meta h2 {
	background: url(/CuidadoAnimal/images/widget-img03.gif) no-repeat 2px 1px;
	padding: 3px 10px 19px 31px;
}

.widget_meta ul {
	margin: 0px 0px 0px 19px;
}

/*** widget_archive  ***/
.widget_archive .widget-bgr {
	padding: 0px 20px 33px 20px;
}

.widget_archive .border-top {
	background: url(/CuidadoAnimal/images/widget-top02.png) no-repeat 0 0;
}

.widget_archive .border-bot {
	background: url(/CuidadoAnimal/images/widget-bot02.png) no-repeat 0 bottom;
}

.widget_archive .widget-bgr {
	background: url(/CuidadoAnimal/images/widget-bgr02.png) repeat-y 0 0;
}

.widget_archive h2 {
	background: url(/CuidadoAnimal/images/widget-img04.gif) no-repeat 4px 2px;
	padding: 5px 10px 19px 31px;
}

.widget_archive ul {
	margin: 0px 0px 0px 19px;
}

/*** widget_links  ***/ /*** widget_recent_entries  ***/
	/*** widget_recent_comments  ***/ /*** widget_other ***/
#search form {
	padding: 10px 0px 0px 10px;
}

#search form .text {
	display: block;
	margin: 0px 0px 8px 0px;
}

#search form .but {
	margin: 0px 0px 0px -3px;
}

.widget_calendar table {
	margin: 10px 0px 0px 20px;
}

/*** Content  ***/ /******/
.column-center {
	overflow: hidden;
	height: 100%;
	padding: 0px 0px 0px 0px;
}

.column-center .indent {
	clear: both;
	overflow: hidden;
	height: 100%;
	padding: 0px 0px 32px 0px;
}

.column-center .border-left {
	clear: both;
	background: url(/CuidadoAnimal/images/border-left.gif) repeat-y 0 0 #fff;
}

.column-center .border-right {
	background: url(/CuidadoAnimal/images/border-right.gif) repeat-y right 0;
}

.column-center .border-top {
	background: url(/CuidadoAnimal/images/border-top.gif) repeat-x 0 0;
}

.column-center .border-bot {
	background: url(/CuidadoAnimal/images/border-bot.gif) repeat-x 0 bottom;
}

.column-center .corner-left-top {
	background: url(/CuidadoAnimal/images/corner-left-top.gif) no-repeat 0 0;
}

.column-center .corner-right-top {
	background: url(/CuidadoAnimal/images/corner-right-top.gif) no-repeat right 0;
}

.column-center .corner-left-bot {
	background: url(/CuidadoAnimal/images/corner-left-bot.gif) no-repeat 0 bottom;
}

.column-center .corner-right-bot {
	background: url(/CuidadoAnimal/images/corner-right-bot.gif) no-repeat right bottom;
	overflow: hidden;
	height: 100%;
	padding: 8px 36px 22px 33px;
}

/******/
.column-center .title {
	overflow: hidden;
	height: 100%;
	border-bottom: 1px solid #dae1e0;
	padding: 0px 0px 3px 5px;
	margin: 0px 0px 5px 0px;
}

.column-center .title h2 {
	overflow: hidden;
	height: 100%;
	font-size: 1.8em; /*font-weight: normal;*/
	color: #3d4c5a;
	line-height: 1.3em;
	padding: 0px 0px 0px 0px;
}

.column-center .title h3 {
	overflow: hidden;
	height: 100%;
	font-size: 1.6em; /*font-weight: normal;*/
	color: #3d4c5a;
	line-height: 1.3em;
	padding: 0px 0px 0px 0px;
}

/******/
.column-center .title h2 a,.column-center .title h3 a {
	color: #3b536e;
	text-decoration: none;
}

.column-center .title h2 a:hover,.column-center .title h3 a:hover {
	text-decoration: underline;
}

/******/
.title-page01 * {
	font-size: 1.6em;
	color: #3d4c5a;
	text-transform: uppercase;
	padding: 0px 0px 10px 0px;
}

.title-page02 * {
	font-size: 1.6em;
	color: #3d4c5a;
	text-transform: uppercase;
	padding: 0px 0px 10px 0px;
}

/******/
.date {
	font-size: 1.1em;
	color: #5c959d;
	padding: 3px 0px 0px 0px;
	margin: 0px 0px -1px 0px;
}

.date span {
	text-decoration: underline;
	color: #5c959d;
}

.author {
	font-size: 1.1em;
	color: #5c959d;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.column-center .bgnone {
	background: none;
	border: 0;
}

/*******/
.text-box {
	clear: both;
	overflow: hidden;
	height: 100%;
	font-size: 1.2em;
	line-height: 1.3em;
	padding: 5px 0px 0px 4px;
}

.pd {
	padding: 0px 0px 0px 0px;
}

.text-box p {
	padding: 0px 0px 14px 0px;
}

.text-box strong {
	color: #5c959d;
}

.fleft {
	margin: 0px 19px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline;
	float: left;
	overflow: hidden;
	height: 100%;
}

.fleft img {
	margin: 0px 0px 0px 0px;
}

.fright {
	overflow: hidden;
	height: 100%;
	display: inline;
	float: right;
	margin: 1px 0px 0px 24px;
	padding: 0px 0px 0px 0px;
}

.fright img {
	margin: 0px 0px 5px 0px;
}

.text-box p.img {
	padding: 3px 0px 14px 0px;
}

.text-box p.img img {
	margin: 0px 8px 0px 0px;
}

.text-box p.img img.img {
	margin: 0;
}

.text-box .line {
	clear: both;
	height: 1px;
	background: url(/CuidadoAnimal/images/line.gif) repeat-x 0 0;
	line-height: 0;
	font-size: 0;
	margin: 15px 0px 15px 0px;
}

/******/
.more-link {
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #3a4c53;
	padding: 0px 0px 10px 5px;
}

/******/
.comments {
	float: left;
	width: 110px;
	height: 21px;
	text-align: center;
	line-height: 20px;
	background: url(/CuidadoAnimal/images/comments.gif) no-repeat 0 0;
	margin: 0px 0px 0px 5px;
	_margin: 0px 0px 0px 3px;
}

.comments a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

.comments a:hover {
	text-decoration: underline;
}

/******/
.postmetadata {
	clear: both;
	font-size: 1.2em;
	color: #3a4c53;
	padding: 5px 0px 10px 5px;
}

.postmetadata a {
	padding: 0px 1px 0px 5px;
	color: #5c959d;
	text-decoration: none;
}

.postmetadata a:hover {
	text-decoration: underline;
}

/******/
.link-edit {
	float: right;
	padding: 0px 0px 0px 0px;
}

.link-edit a {
	font-size: 12px;
	font-weight: bold;
	color: #5c959d;
}

/******/
.navigation {
	clear: both;
	font-size: 12px;
	color: #5c959d;
	padding: 5px;
}

.navigation a {
	font-size: 12px;
	color: #5c959d;
}

.nav-top {
	display: block;
	margin: -34px 0px 0px 0px; /* height:100%;*/
	padding: 5;
	background: #fff;
}

.nav-top a {
	display: block;
	width: 114px;
	height: 20px;
	line-height: 21px;
	background: url(/CuidadoAnimal/images/entries.gif) no-repeat 0 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.navigation a {
	text-decoration: none;
}

.navigation a:hover {
	text-decoration: underline;
}

/*******/
.text-box h1,.text-box h2,.text-box h3,.text-box h4,.text-box h5,.text-box h6
	{
	color: #000;
	font-family: Arial;
	line-height: 1.5em;
}

.text-box h1 {
	font-size: 2.2em;
	font-weight: normal;
}

.text-box h2 {
	font-size: 2em;
	font-weight: normal;
}

.text-box h3 {
	font-size: 1.8em;
}

.text-box h4 {
	font-size: 1.6em;
}

.text-box h5 {
	font-size: 1.4em;
}

.text-box h6 {
	font-size: 1.2em;
}

/*** OL UL style***/
.text-box ul {
	padding: 0px 0px 10px 1px;
	overflow: hidden;
	height: 100%;
}

.text-box ul li {
	background: url(/CuidadoAnimal/images/marker.gif) no-repeat 0 7px;
	padding: 0px 0px 9px 12px;
	list-style-image: none;
	list-style: none;
	font-weight: normal;
}

.text-box ul li ul {
	margin-left: 10px;
}

.text-box ul li ol {
	margin-left: 15px;
}

.text-box ul li ol li {
	list-style-type: decimal;
}

.text-box ol {
	padding-left: 2px;
}

.text-box ol li { /*background:none;*/
	padding: 0px;
	margin-left: 13px;
	font-weight: normal;
	list-style-type: decimal;
}

.text-box ol li ul {
	padding: 2px 0px 5px 2px;
}

.text-box ol li ul li {
	font-weight: normal;
	background: url(/CuidadoAnimal/images/marker.gif) no-repeat 0 5px;
	padding: 3px 0px 9px 13px;
}

.text-box ul li {
	list-style-image: none;
	list-style: none;
}

.text-box ul li a {
	
}

.text-box ul li a:hover {
	
}

.text-box ul li ul {
	margin-left: 15px;
}

.text-box ul li ol {
	margin-left: 20px;
}

.text-box ul li ol li {
	list-style-type: decimal;
	background: none;
}

.text-box ul li ol li a { /*background:none;*/
	
}

.text-box ol {
	padding: 5px 0px 5px 2px;
}

.text-box ol li { /*background:none;*/
	padding: 0px;
	margin-left: 20px;
}

.text-box ol li a {
	padding-left: 0px;
	text-decoration: none;
	font-weight: normal;
}

.text-box ol li a:hover {
	text-decoration: underline;
}

.text-box ol li ul li a {
	font-weight: normal;
	text-decoration: underline;
}

.text-box ol li ul li a:hover {
	text-decoration: none;
}

/*** Footer ****/
.footer {
	clear: both;
	overflow: hidden;
	background: url(/CuidadoAnimal/images/footer-bgr.gif) repeat-x 0 0 #e4ebe4;
	font-size: 1.2em;
	line-height: 1.3em;
	font-family: tahoma;
	color: #787878;
}

.footer .width {
	width: 980px;
	margin: 0 auto;
}

.footer .indent {
	overflow: hidden;
	height: 100%;
	padding: 41px 0px 29px 36px;
}

.footer a {
	color: #787878;
}

/* -----------------------------------------------------------------
---------------------------- WP ------------------------------------
----------------------------------------------------------------- */
.info-sidebar {
	clear: both;
	padding: 12px 20px 20px 20px;
	width: auto;
	color: #000;
	overflow: hidden;
	font-size: 1.2em;
	line-height: 1.4em;
}

.info-sidebar a {
	text-transform: none;
	color: #000;
}

.pageTitle{
	color:rgb(68%, 68%, 68%);
	font-size:24px;
	margin:0;
	margin-bottom: 1.5em;
	letter-spacing: -0.05em;
	font-family: Comic Sans;
}

/*--- Navigations ---*/
.navigation {
	clear: both;
	overflow: hidden;
	line-height: 13px;
}

.navigation .alignleft {
	float: left;
	width: 45%;
	text-align: left;
	padding: 0px 0px 0px 0px;
}

.navigation .alignright {
	float: right;
	width: 45%;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

.nav-top .alignright a {
	float: right;
}

.pd-nav {
	padding: 0;
	margin: 0;
}

.pd-nav .alignleft {
	padding: 0;
	margin: 0;
}

.pd-nav .alignright {
	padding: 0;
	margin: 0;
}

.pd-title {
	padding-bottom: 0;
}

.marg {
	margin-bottom: 10px;
}

/*--- Begin /CuidadoAnimal/images ---*/
p img {
	padding: 0;
	max-width: 100%;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	float: right;
	display: inline;
	padding: 0;
	margin: 3px 0px 10px 20px;
}

img.alignleft {
	padding: 0;
	margin: 3px 25px 5px 0;
	float: left;
	display: inline;
}

/*------*/
#tag_cloud .widget-bottom-left {
	padding-bottom: 15px;
}

#tag_cloud .widget-heading {
	margin-bottom: 15px;
}

#tag_cloud a {
	padding-left: 3px;
}

/*--- Popup styles ---*/
#commentspopup {
	
}

#commentspopup #header {
	background: #2F3F99 url(/CuidadoAnimal/images/popup_header_bg.gif) top repeat-x;
}

#commentspopup .page-padding {
	padding: 0 5px;
}

#commentspopup .page-width {
	width: 538px;
	margin: 0 auto;
}

#commentspopup .header-top {
	background: url(/CuidadoAnimal/images/popup_header_bg_top.jpg) top repeat-x;
}

#commentspopup .header-top-right {
	background: url(/CuidadoAnimal/images/popup_header_bg_top_right.jpg) top right
		no-repeat;
}

#commentspopup .header-top-left {
	background: url(/CuidadoAnimal/images/popup_header_bg_top_left.jpg) top left no-repeat;
	width: 100%;
	height: 160px;
}

#commentspopup .header-padding {
	padding: 39px 0 0 89px;
}

#commentspopup h1 {
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: #E1E7EC;
	text-indent: -10000em;
	width: 141px;
	height: 27px;
}

#commentspopup h1:hover {
	text-decoration: none;
	cursor: pointer;
}

#commentspopup .description {
	width: 141px;
	height: 9px;
	text-indent: -10000em;
	margin-top: 2px;
}

#commentspopup .description2 {
	width: 249px;
	height: 27px;
	text-indent: -10000em;
	margin-top: 19px;
}

#commentspopup .border-bottom-left {
	padding: 17px 37px 10px;
}

#commentspopup p {
	font-size: 12px;
}

/*--- Begin Typography & Colors ---*/
small {
	font-size: 1em;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

small * {
	font-size: 0.9em;
}

small p {
	font-size: 0.9em;
}

#commentform {
	font-size: 1.2em;
}

#commentform input {
	margin: 5px 5px 1px 0;
}

#commentform {
	margin: 5px 10px 0 0;
}

#commentform textarea {
	width: 100%;
	padding: 2px;
}

#respond:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#commentform #submit {
	margin: 0 0 10px auto;
	float: right;
}

#respond p {
	padding: 0px 0px 10px 0px;
	text-indent: 0;
}

#respond form p {
	padding: 0px 0px 10px 0px;
	text-indent: 0;
}

/*--- Begin Calendar ---*/
#wp-calendar {
	empty-cells: show;
	width: 155px;
}

#wp-calendar th {
	padding: 3px 0;
	text-align: center;
	color: #000;
}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	color: #000;
}

#wp-calendar a {
	display: block;
	font-weight: bold;
	color: #000;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	font-weight: normal;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	font-weight: normal;
}

#wp-calendar caption {
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 1.3em;
	padding: 0px 0px 6px 0px;
}

.widget-bot #wp-calendar * {
	color: #000;
}

.widget-bottom #wp-calendar * {
	color: #000;
}

/* Begin Various Tags & Classes */
acronym,abbr,span.caps {
	cursor: help;
}

acronym,abbr {
	border-bottom: 1px dashed #999;
}

blockquote {
	border: 1px solid #d4d0cc;
	background: #e4ebe4;
	padding: 15px 10px 10px 20px;
	margin: 5px 0;
	color: #545151;
}

blockquote cite {
	margin: 5px 0 0;
	display: block;
}

/* Captions */
.aligncenter,div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* Begin Comments*/
.alt {
	clear: both;
	padding-bottom: 20px;
	font-weight: normal;
}

.alt a {
	padding: 0px 0px 0px 0px;
	text-decoration: underline;
}

.commentlist {
	color: #000;
	text-align: justify;
}

.commentlist a {
	color: #000
}

.commentlist span {
	color: #000;
	font-weight: bold;
}

ol.commentlist  li {
	list-style: none;
	font-size: 12px;
	margin: 6px 0px 6px 0px;
	padding: 5px 10px 3px;
	/*list-style: none;*/
	border: 1px solid #d4d0cc;
	background: #e4ebe4;
}

.commentlist li .avatar {
	float: right;
	border: 1px solid #000;
	padding: 2px;
	background: #fff; /*margin:0px 20px 15px 0px;*/
}

.commentlist p {
	color: #545151;
	margin: 10px 5px 10px 0;
}

#commentform p {
	margin: 5px 0;
	padding-left: 15px;
}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}

.commentmetadata {
	margin: 0;
	display: block;
}


/* next css*/
.dataGrid {
	width: 100%;
	
}
.dataGridHeader *  {
	color:#fff;
	font-weight: normal;
	/*background:url("/CuidadoAnimal/images/bg-thead.png") ;*/
	background-color:#4A555B;
	background-repeat: repeat-x;
}
.dataGrid TD {
	font-size: 12px;
	padding:4px;
}
.dataGrid TH {
	font-size: 12px;
	text-align: left;
	padding: 3px;	
	border:none;
	border:none;
}

.dataGrid THEAD {
	border-botton:none;
	color:#000;
}
.dataGridHeader {
	border-botton:none;
	color:#fff;
}


a{
	text-decoration:none;
	color:#4A555B;
}

.dataGridBody1{
	background-color:#EAF0D8;
	color:#000;
	border: none;
}


.sectionTitle {
	font-size: 20px;
	margin: 4px;
	margin-top: 8px;
	color: #006699;
	display: none;
}
.order{
	background:none;
}
.pagging{
	text-align:right;
	color: #00699;
}

.inputWindow  {
	margin: 2px;
	border: 1px solid #CCCCCC;
}
.inputWindow * {
	font-size: 11px;
}

.inputTable {
	width:100%
}
.actionBar {
	font-size: 12px;
	text-align: left;
	background-color: #EBF0F8;
	padding: 3px;
	font-size: 11px;
	border-top: 1px solid #CCCCCC;
}


.actionBar input{
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_60_4ca20b_1x100.png") repeat-x scroll 50% 50% #4CA20B;
	border:1px solid #45930B;
	color:#FFFFFF;
	font-weight:normal;
	padding:2px;
}

.actionBar input:hover{
	text-decoration: none;
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
	border:1px solid #8BD83B;
	color:#FFFFFF;
	font-weight:normal;
	padding:2px;
}

.linkBar{
	font-size: 12px;
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_33_3a8104_1x100.png") repeat-x scroll 50% 50% #3A8104;
	border:1px solid #3F7506;
	color:#FFFFFF;
	font-weight:bold;
	padding:3px 7px;
}

.linkBar A {
	color: #fff;
	text-decoration: none;
	padding: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 180px;
	min-width: 120px;
}
.linkBar A:hover {
	background-color:#6FC133;
	min-width:120px;
	padding:3px 7px;
	text-decoration:none;
	width:180px;
}


.labelColumn {
	color:#535353;
	font-family:Verdana;
	font-size:10px;
	padding-left:3px;
	padding-right:20px;
	padding-top:9px;
	text-align:left;
	text-transform:uppercase;
	white-space:nowrap;
	width:1%;
	font-weight:bold;
	border-bottom:1px solid #EEEEEE;
	border-top:1px solid #F5F5F5;
}
.propertyColumn{
	padding:6px 16px 6px 0;
	border-bottom:1px solid #EEEEEE;
	border-top:1px solid #F5F5F5;
}
.messageblock {
	margin-left: 0;
	margin-right: 60px;
}
.tabPanelLink {
	margin-top:3px;	
	margin-bottom:3px;	
	border-bottom: 1px solid gray;
} 
 
.detailTabSelected {
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	height: 19px;
	line-height: 15px;
	vertical-align: middle;
	border-left: 1px solid #91A7B4;
	border-right: 1px solid #91A7B4;
	border-top: 2px solid orange;
	background-color: #FFFFFF;
	border-bottom: 0px solid gray;
}


.detailTabSelected:active {
	text-decoration: none;
}
.detailTabSelected:hover {
	text-decoration: none;
}


.detailTabUnselected {
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	border-left: 1px solid #91A7B4;
	border-right: 1px solid #91A7B4;
	border-top: 1px solid #91A7B4;
	background-color: #F1F1F1;
	border-bottom: 0px solid red;
}

.detailTabUnselected:hover {
	padding-top: 2px;
	text-decoration: none;
	border-top: 2px solid orange;
	background-color: #F9F8FE;
}
.detailTabUnselected:active {
	text-decoration: none;
}

/**
 * Detalhe
 */
.detailBlock {
	background-color: white;
}
.warning{
	display:none;
 	color:#fff; 
 	background:#F33939 url(/CuidadoAnimal/images/alertbad_icon.gif) no-repeat;
	padding:3px 7px 6px 26px; 	
}
/**
 * Estilos das abas
 */
.tabPanelLink {
	margin-top:3px;	
	margin-bottom:3px;	
	border-bottom: 1px solid gray;
} 
 
.detailTabSelected {
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	height: 19px;
	line-height: 15px;
	vertical-align: middle;
	border-left: 1px solid #91A7B4;
	border-right: 1px solid #91A7B4;
	border-top: 2px solid orange;
	background-color: #FFFFFF;
	border-bottom: 0px solid gray;
}


.detailTabSelected:active {
	text-decoration: none;
}
.detailTabSelected:hover {
	text-decoration: none;
}


.detailTabUnselected {
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	border-left: 1px solid #91A7B4;
	border-right: 1px solid #91A7B4;
	border-top: 1px solid #91A7B4;
	background-color: #F1F1F1;
	border-bottom: 0px solid red;
}

.detailTabUnselected:hover {
	padding-top: 2px;
	text-decoration: none;
	border-top: 2px solid orange;
	background-color: #F9F8FE;
}
.detailTabUnselected:active {
	text-decoration: none;
}

/**
 * Detalhe
 */
.detailBlock {
	background-color: white;
}

/* Tabs */


#tabPanelClear {
	background-color: white;
	float: right;
	position: relative;
	right: -4px;
	padding: 10px 0px 0px;
}
	
    #tabPanel {
    	position: relative;
    	left: -1px;
    	right: 1px;
    	top: -1px;
    	background-color: white;
    	float:left;
    	width: 100%;
      	font-size:93%;
      	line-height:normal;
      	background:#FFFFFF url("/CuidadoAnimal/images/tab-bg.gif") repeat-x bottom;
      }
    #tabPanel ul {
      margin:0;
      padding:0px 0px 0;
      list-style:none;
      }
    #tabPanel li {
      float:left;
      background:url("/CuidadoAnimal/images/tab-right-off.gif") no-repeat right top;
      margin:0;
      margin-right: 1px;
      padding:0px;
      }
    #tabPanel a {
      display:block;
      background:url("/CuidadoAnimal/images/tab-left-off.gif") no-repeat left top;
      padding:5px 15px 4px;
      }
    #tabPanel #current {
      background-image:url("/CuidadoAnimal/images/tab-right.gif");
      }
    #tabPanel #current a {
      background-image:url("/CuidadoAnimal/images/tab-left.gif");
      padding-bottom:5px;
      }
    #tabPanel a:hover {
    	text-decoration: none;
    }
    #tabPanel a:ACTIVE {
    	text-decoration: none;
    }
/* Tabs end */



.foto{
	border:medium none;
	height:140px;
	margin-left:-129px;
	margin-top:8px;
}
#divDados{
	border:medium none;
	font-size:15px;
	height:41px;
	margin:45px 0 0 15px;
	text-align:left;
}
.image{
	margin-top: 10px;
	border: 1px black solid;
	padding:3px;
	width: 110px;
	height:150px;
	vertical-align: middle;
}
.imageLogo{
	margin-top: -1px;
	border: 1px black dotted;
	padding:3px;
	width: 133px;
	height:66px;
	vertical-align: middle;	
}
fieldset {
	border: 1px solid #E0E0E0;
	margin: 6px;
	padding: 6px;
}
.divheader{
	background-color:#505151;
	padding:5px 4px 4px;
}

.servicos{
	display:none;
}
.outterTableHeaderRight {
	float: right;
	font-size: 11px;
	color: #E0E0E0;
	height: 24px;
}
.info {
	font-size:13px;
	padding:5px 5px 5px 26px;
	border-color: #9c9;
	color: #060;
	background: url(/CuidadoAnimal/images/alertgood_icon.gif) #E2F9E3 left no-repeat;
}

.infologin {
	font-size:13px;
	padding:5px 5px 5px 26px;
	border-color: #9c9;
	color: #060;
	text-align: center;
	background-color: #E2F9E3;
}
.infologinYellow {
	font-size:13px;
	padding:5px 5px 5px 26px;
	/*border: 1px solid #93201A;*/
	color: #93201A;
	text-align: center;
	background-color: #eacac8;
}

.infoCad {
	font-size:13px;
	padding:5px 5px 5px 26px;
	border-color: #9c9;
	color: #060;
	text-align: center;
	background-color: #E2F9E3;
	width:93%;
}



/*erro de sistema*/
#loadmsg{	
	background: #EA0000;
	color:white;
	top:0px;
	font-size:12px;
	padding:2px;
	float:right;
	display: none;
	
}
.exceptionitem{
	font-size: 12px;
	border-color: #c99;
	color: #fff;
	background: url(/CuidadoAnimal/images/alertbad_icon.gif) #CE0806 left no-repeat;
	padding:0px 10px 3px 29px;
}

.flash_alert {
	font-size: 12px;
	border-color: #c99;
	color: #fff;
	background: url(/CuidadoAnimal/imagens/alertbad_icon.gif) #f33939 left no-repeat;
}

.info_alert {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F0FEE9 none repeat scroll 0 0;
	border-color:#E1EFDB;
	color:#666666;
	font-size:13px;
	border: 3px solid #E1EFDB;
	text-align: center;
}
.linkme{
	color: red;
}

#Flash.flash_notice,#Flash-message.flash_notice {
	border-color: #9c9;
	color: #060;
	background: url(/CuidadoAnimal/alertgood_icon.gif) #E2F9E3 left no-repeat;
}

#Flash.flash_alert a,#Flash-message.flash_alert a {
  color: #fff;
}

#Flash.flash_alert a:hover,#Flash-message.flash_alert a:hover {
  background: #000;
}

#div_status {
	border-bottom:1px dotted #DFDFDF;
	margin-bottom:10px;
	padding:10px 0;
	text-align:right;
}
/*erro*/
.dialog {
	width: 500px;
	border: 10px solid #ccc;
	padding: 15px 20px 10px 20px;
	text-align: left;
	background: #fff;
}

#scroll {
  width: 100%;
  height:300px;
  background-color:#F2F2F2;
  overflow:auto;
  border: 1px solid black;
}

.checkboxClass{border: none;}

.buttonClass{
	border: 1px solid gray;
	background-color:white; 
	vertical-align: top; 
}

fieldset{
	border: 1px solid #dadada;
	margin-bottom: 5px;
	padding: 6px;
}
legend{
	color: #000000;
	background-color: #F1F1F1;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	border: 1px solid #dadada;
}
#scroll{
	font-size: 12px;
}

.error{
	font-family: Verdana;
	font-size: 12px;
	color: #CC0000;
	/*list-style-image: url('/CuidadoAnimal/images/atencao.gif');*/
}
.outterTableHeader{
	font-weight: bold;
	font-size: 11px;	
	font-family:tahoma;		
	line-height:21px;		
	height:24px;	
}


.outterTableHeader TD{
	border-bottom:10px solid white;
	height:24px;	
}
.outterTable {
	border: 0px;		
 	width: 100%;
 	background-color:white; 	
}
#btn_novo {
	background-image: url("/CuidadoAnimal/images/novo.png");
	background-repeat: no-repeat;
	background-position:0% 50%;
	padding:7px;
	padding-left: 22px;
	text-decoration:none;
}
.menu1{
	background-image: url("/CuidadoAnimal/images/menu/cadastros_disable.png");
	background-repeat: no-repeat;
	padding:40px 50px;
	margin-left:50px;
}
.menu1:hover{
	background-image: url("/CuidadoAnimal/images/menu/cadastros.png");
}
.menu1-active{
	background-image: url("/CuidadoAnimal/images/menu/cadastros.png");
	background-repeat: no-repeat;
	padding:40px 50px;
	margin-left:50px;
}

.menu2{
	background-image: url("/CuidadoAnimal/images/menu/clinica_disable.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu2:hover{
	background-image: url("/CuidadoAnimal/images/menu/clinica.png");
}
.menu2-active{
	background-image: url("/CuidadoAnimal/images/menu/clinica.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}

.menu3{
	background-image: url("/CuidadoAnimal/images/menu/estoque_disable.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu3:hover{
	background-image: url("/CuidadoAnimal/images/menu/estoque.png");
}
.menu3-active{
	background-image: url("/CuidadoAnimal/images/menu/estoque.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu4{
	background-image: url("/CuidadoAnimal/images/menu/seguranca_disable.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu4:hover{
	background-image: url("/CuidadoAnimal/images/menu/seguranca.png");
}
.menu4-active{
	background-image: url("/CuidadoAnimal/images/menu/seguranca.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu5{
	background-image: url("/CuidadoAnimal/images/menu/calendar_disable.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu5:hover{
	background-image: url("/CuidadoAnimal/images/menu/calendar.png");
}
.menu5-active{
	background-image: url("/CuidadoAnimal/images/menu/calendar.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu6{
	background-image: url("/CuidadoAnimal/images/menu/relatorios_disable.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}
.menu6:hover{
	background-image: url("/CuidadoAnimal/images/menu/relatorios.png");
}
.menu6-active{
	background-image: url("/CuidadoAnimal/images/menu/relatorios.png");
	background-repeat: no-repeat;
	padding:40px 50px;
}

button{
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_60_4ca20b_1x100.png") repeat-x scroll 50% 50% #4CA20B;
	border:1px solid #45930B;
	color:#FFFFFF;
	font-weight:normal;
}

button:hover{
	text-decoration: none;
	background:url("/CuidadoAnimal/css/le-frog/images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
	border:1px solid #8BD83B;
	color:#FFFFFF;
	font-weight:normal;
}
.mybutton{
	background-image: none;
	color: #000;
}
.mybutton:hover{
	background-image: none;
	color: #000;
	text-decoration: none;
	background:#fff;
	border:none;
	font-weight:normal;
	
	
}

/*
.logomarca{
	position: absolute; 
	width: 150px; 
	height: 100px; 
	top: 50px; 
	left: 50px; 
}
*/

.logomarca{
	/*background:url("/CuidadoAnimal/images/logotmp.png");*/
	background-repeat: no-repeat;
	background-color: none;
	position: relative;
	/*
	padding:40px 80px;	
	margin-bottom: -33px;
	background-color: #d2f425;
	padding:0 0 35px;
	*/
}
.disabled-input{
	vertical-align: middle;
	font-size: 12px;	
	font-family: Arial;	
	
	border:1px solid #bababa;
	color:#535353;
	
	background-clip:border;
	background-inline-policy:continuous;
	background-origin:padding;
	background:#F0F0F0;
	border:1px solid #BABABA;
	font-size:12px;
	padding:2px 1px;
}
input,select,textarea,html body textarea {
	vertical-align: middle;
	font-size: 12px;	
	font-family: Arial;	
	
	border:1px solid #bababa;
	color:#535353;
	
	background-clip:border;
	background-inline-policy:continuous;
	background-origin:padding;
	background:#FFFFFF url(/CuidadoAnimal/images/textfield.gif) repeat-x scroll center top;
	border:1px solid #A6A6A6;
	font-size:12px;
	padding:2px 1px;
}